<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
    <script src="js/app.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Test angular bootstrap ui and re-write in John Papa style</h1>
      <div ng-controller="ButtonsCtrl as btnCtrl">
        <h4>Single toggle</h4>
        <pre>{{btnCtrl.singleModel}}</pre>
        <button type="button" class="btn btn-primary" ng-model="btnCtrl.singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          Single Toggle
        </button>
        <h4>Checkbox</h4>
        <pre>Model: {{btnCtrl.checkModel}}</pre>
        <pre>Results: {{btnCtrl.checkResults}}</pre>
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="btnCtrl.checkModel.left" btn-checkbox>Left</label>
          <label class="btn btn-primary" ng-model="btnCtrl.checkModel.middle" btn-checkbox>Middle</label>
          <label class="btn btn-primary" ng-model="btnCtrl.checkModel.right" btn-checkbox>Right</label>
        </div>
        <h4>Radio &amp; Uncheckable Radio</h4>
        <pre>{{btnCtrl.radioModel || 'null'}}</pre>
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="btnCtrl.radioModel" btn-radio="'Left'">Left</label>
          <label class="btn btn-primary" ng-model="btnCtrl.radioModel" btn-radio="'Middle'">Middle</label>
          <label class="btn btn-primary" ng-model="btnCtrl.radioModel" btn-radio="'Right'">Right</label>
        </div>
        <div class="btn-group">
          <label class="btn btn-success" ng-model="btnCtrl.radioModel" btn-radio="'Left'" uncheckable>Left</label>
          <label class="btn btn-success" ng-model="btnCtrl.radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
          <label class="btn btn-success" ng-model="btnCtrl.radioModel" btn-radio="'Right'" uncheckable>Right</label>
        </div>
      </div>
  </body>
</html>

